* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

p {
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    background-color: #1c1c1c;
    color: white;
}



.tam {
    border: none;
    border-bottom: 1px solid #1c1c1c;
    margin: 2rem;
    padding: .5rem;
}

.tam:focus {
    border-bottom: 2px solid #914444;
    outline: none;
}

select {
    padding: .5rem 1rem;
    border: none;
    color: white;
    background-color: #1c1c1c;
    border-radius: 5px;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
    padding: .5rem;
    color: white;
    background-color: #1c1c1c;
    border-radius: 5px;
    margin: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    background-color: #2e2e2e;
}

.p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.contenedor {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
}

p {
    color: aliceblue;
    background-color: #1c1c1c;
    padding: .5rem;
    border-radius: 16px;
}

.center {
    display: grid;
    place-items: center;
}