* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 1rem;
    background-color: #006847;
    display: grid;
    place-items: center;
}

header h1 {
    color: white;
}

header h2 {
    color: white;
}


label,
h1,
h2,
h3,
h4,
p,
legend,
span {
    color: rgb(0, 0, 0);
}


.contenedor {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: -1px -1px 23px 0px rgba(255, 255, 255, 1);
}

input,
select {
    display: block;
    border-radius: 5px;
    margin: 1rem;
    padding: .5rem;
}

footer {
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: #CE1125;
}

footer h3 {
    color: white;
}

.bg-form {
    box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 1rem;

}

@media (min-width: 650px) {
    .bg-form {

        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
}

.mar {
    margin: 1rem;
}

.boton {
    text-align: center;
    margin: 1rem;
}

button {
    border: none;
    padding: .5rem;
    background-color: rgb(93, 179, 72);
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(131, 127, 127);
}

fieldset {
    border-radius: 16px;
}