* {
    margin: 0;
    padding: 0;
}

input {
    display: block;
    font-size: 1.6rem;
    appearance: textfield;
    box-shadow: 0px -1px 10px -7px rgba(255, 255, 255, 1);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    margin: 1rem;
}

h1,
label,
p {
    color: aliceblue;
}



#center {
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 2rem;
}

h1 {
    font-size: 3rem;
}

label {
    font-size: 2rem;
}

input {
    background-color: #1c1c1c;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: rgb(223, 219, 219);
    padding: .5rem;
}

p {
    border-radius: 5px;
    font-size: 2rem;
    color: aquamarine;
}

button {
    border: none;
    background-color: #3a8617;
    color: aliceblue;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px -1px 10px -7px rgba(255, 255, 255, 1);
}

.lim {
    border: none;
    background-color: #96af24;
    color: aliceblue;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px -1px 10px -7px rgba(255, 255, 255, 1);
}

button:hover {
    color: aliceblue;
    padding: 1.1rem 2.1rem;
    font-size: 1.1rem;
}

.sexo {
    display: flex;
    margin: 2rem;
}