* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
}

header {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #302f2f;
    color: white;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

header div {
    padding: 1.5rem;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;

}

header a:hover {
    color: rgb(234, 255, 47);
}

header h1 {
    padding: 1rem;
}

.img-back {
    background-image: url('../img/web-development.jpg');
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 50rem;
    background-position: center center;
    display: grid;
    place-items: center;
}

.img-back h1 {
    color: white;
    font-size: 5rem;
    margin-top: -4rem;
}

@media(min-width:768px) {
    .img-back {
        background-image: url('../img/js.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        object-fit: cover;
        margin: 0rem;
        margin-top: 0;
        height: 30rem;

    }
}

.bg-ama {
    background-color: #fafafa;
    box-shadow: 0px 2px 80px 0px rgb(0, 0, 0);
}

.bg-ama a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: grid;



}



.bg-ama a:hover {
    color: rgb(231, 165, 43);
    text-decoration: underline;
}

.grid {

    margin: 1rem;

    place-items: center;
}

@media(min-width:768px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 2rem 7rem;
        place-items: center;
    }
}

footer {
    text-align: center;
    background-color: #302f2f;
    color: white;
}