.grid-multi {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    place-items: center;
}

img {
    width: 70px;
}

select {
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: #1c1c1ccc;
    color: white;
}

button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid #1c1c1c;
}

.flex {
    display: flex;
    gap: 1rem;
}